* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*header */

.menuLinks {
  padding: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #090c0e;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items:bottom;
}

.menuLinks nav{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.menuLinks h1 {
  font-size: 35px;
  margin: 0;
}

.menuLinks ul {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px;
  justify-items:center;
  list-style-type:none;
  margin:0;
}

.menuLinks ul li {
  background-color:#090c0e;
  /* width:75%; */
  text-align:center;
  line-height:50px
}

.menuLinks ul a {
  border-bottom: 5px solid rgb(58, 20, 146);
  text-decoration: none;
  padding: 5px;
  color: #ffffff;
  /* display: block; */
  text-align: right;
}

.menuLinks a:hover {
  border-bottom-color: rgb(158, 130, 223);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1 {
  font-size: 30px;
}

h2 {
  padding: 20px;
  margin: 20px;
  font-family: 'Lucida Handwriting', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
  color:rgb(58, 20, 146) ;
}

.banner {
  margin: 0;
  padding: 1px;
  background-image: url(../images/02-hero-bg.jpg);
  max-width: 100%;
  background-size: cover;
  color:rgb(58, 20, 146);
  font-style: italic;
  text-align: end;
}

/*main section*/

.flexcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#me {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  font-size: 1em;
  text-align: right;
}

div img {
  border: solid #090c0e;
}

#secondgrid {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 500px 150px 150px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "work horiseon horiseon"
  "work ledwall calculator"
  "work pastelpuzzle run" ;
}

#horiseon {
  grid-area: horiseon;
  background-image: url("../images/02-portfolio-4.jpg");
  border: solid rgb(58, 20, 146) ;

}
#ledwall {
  grid-area: ledwall;
  background-image: url("../images/02-portfolio-1.jpg");
  border: solid rgb(58, 20, 146) ;
}

#calculator {
  grid-area: calculator;
  background-image: url("../images/02-portfolio-2.jpg");
  border: solid rgb(58, 20, 146) ;
}

#pastelpuzzle {
  grid-area: pastelpuzzle;
  background-image: url("../images/02-portfolio-3.jpg");
  border: solid rgb(58, 20, 146) ;
}

#run {
  grid-area: run;
  background-image: url("../images/02-run-buddy.jpg");
  border: solid rgb(58, 20, 146);
}

.GridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

h3 {
  padding: 20px;
  margin: 0px 50px 25px -2px;
  align-items: baseline;
  background-color: rgb(158, 130, 223);
  border: solid rgb(58, 20, 146);
  color:white;
  font-size: large;
}


/*footer*/


#contactlink h4 {
  padding: 20px;
  margin: 20px;
  font-size: 30px;
}

.page-section-contact {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }

footer {
  display: flex;
  background-color: #090c0e;
  color: white;
  align-items: center;
  justify-content: space-between;
  height: 50%;
  }

  .page-section-contact {
    text-align: center;
  }

  .page-section-contact {
    list-style: none;
    padding: 0;
  }

.page-section-contact {
    background-color:#090c0e;
    line-height:30px
  }
  
.page-section-contact a {
    border-bottom: 5px solid rgb(58, 20, 146);
    text-decoration: none;
    padding: 10px;
    color: #ffffff;
  }

.page-section-contact div a:hover {
  border-bottom-color: rgb(158, 130, 223);
}

.page-section-contact p {
  padding: 10px 10px 10px 10px;
  text-align: center;

}