* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*header */

.top-nav {
  padding: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #090c0e;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-nav h1 {
  font-size: 30px;
}

.top-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.top-nav ul li {
  margin-right: 30px;
}

.top-nav ul a {
  border-bottom: 5px solid rgb(58, 20, 146);
  text-decoration: none;
  padding: 5px;
  color: #ffffff;
}

.top-nav a:hover {
  border-bottom-color: rgb(158, 130, 223);
}

/*main section*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.hero-banner {
  margin: 0;
  padding: 10px;
  line-height: 5;
  background-image: url(../images/02-hero-bg.jpg);
  color:rgb(158, 130, 223);
  font-style: italic;
  text-align: end;
}

h1 
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
